%form.form{:action=>'/submit-inquiry', :method=>"POST"}
  %legend
    Contact me to talk about your software needs!
  .control-group
    %label.control-label
      email
    .controls
      %input{:name=>"email",:type=>"text", :placeholder=>"email@domain.com"}
  .control-group
    %label.control-label
      inquiry
    .controls
      %textarea.span6{:name=>"inquiry",:rows=>20, :cols=>50}
  .control-group
    %label.control-label
      CAPTCHA
    .controls
      = recaptcha_tags :public_key => '6Le6Kd8SAAAAAA9oM9vHHRfbigpYThfvbGkMAFYL'
  .form-actions
    %button.btn.btn-success
      SUBMIT
:javascript
  $(".nav .contact").addClass("active");
