%form.form{:action=>'/submit-inquiry', :method=>"POST"}
  %legend
    Contact me to talk about your software needs!
  .control-group
    %label.control-label
      email
    .controls
      %input.email{:name=>"email",:type=>"text", :placeholder=>"email@domain.com"}
  .control-group
    %label.control-label
      inquiry
    .controls
      %textarea.inquiry.span6{:name=>"inquiry",:rows=>20, :cols=>50}
  .control-group
    %label.control-label
      CAPTCHA
    .controls
      = recaptcha_tags :public_key => '6Le6Kd8SAAAAAA9oM9vHHRfbigpYThfvbGkMAFYL'
  .form-actions
    %button.btn.btn-success
      SUBMIT
:javascript
  function checkValidity(e)
  {
    re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    return re.test(e);
  }
  $(".nav .contact").addClass("active");
  $("form").submit(function(f){
  $(".control-group").removeClass('error');
  $(".help-block").remove();
    var email = $(f.currentTarget).find('.email').val();
    var body  = $(f.currentTarget).find('.inquiry').val();
    if(!checkValidity(email)){
      $(".email").parent().append("<span class='help-block'>Not a valid email format.</span>");
      $(".email").parent().parent().addClass('error');
      return false;
    }
    if(body.length < 5){
      $(".inquiry").parent().append("<span class='help-block'>Cannot be blank.</span>");
      $(".inquiry").parent().parent().addClass('error');
      return false;
    }
  });
