.tab-pane#practices
  .row-fluid
    .span6
      %h1.main_tagline#your_team
        TEST DRIVEN DEVELOPMENT
      .two_cols
        %p
          As your application grows, so does its complexity. The ability for developers to make changes to your site
          is greatly enhanced by having a good application testing suite. A line of code for a new feature can break an old feature and nobody would know about it
          without a good testing suite.
        %p
          Rest assured knowing that outside changes to your application will not negatively affect your website.
          Have an integration with Facebook? Facebook regularly changes the parametes of their API leaving developers uncertain about an integration's maintainability.
    .span6
      = image_tag 'tdd.png'
  %hr
  .row-fluid
    .span4
      = image_tag 'apache.png'
    .span8
      %h1.main_tagline#your_team
        BENCHMARK YOUR APPLICATION
      %p
        Don't play guessing-games with your business! Your site's performance under high traffic is key to your site's success.
        Applications without adequate benchmarking can be deceptively well-performing until that moment you wanted your site to go viral.
        Your application should be able to handle growth gracefully. Using tools such as apache benchmarking tool will help you avoid the perils of a website that doesn't scale.

  %hr
  .row-fluid
    .span6
      %h1.main_tagline#your_team
        FIND OUT ABOUT PROBLEMS WITH YOUR SITE BEFORE YOUR USERS DO (AND ADDRESS THEM)
      %p
        Utilizing tools such as newrelic can provide visibility into what is happening behind the scenes in your web application.
        Is there an area of your website that is not performing optimally?
        Find out about it before your users do, and address it.
    .span6
      = image_tag 'newrelic_snapshot.jpg'
  %hr
  .row-fluid
    .span6
      %h1.main_tagline#your_team
        UTILIZE A-B TESTING TO FIND OUT MORE ABOUT YOUR USERS
      %p
        Do people respond to a sign up link over here? Or do they respond to the sign up link over there? Do people like that icon your one designer came up with, or do they like the other one?
        There is a science behind user behavior and we all have different tastes. Only through monitoring the behavior of your users, seeing clickthrough rates and seeing what users respond to en-masse, can you see the effectiveness of your campaigns. Don't miss opportunities to gather and act upon this data.
    .span6
      = image_tag 'ab_test.gif'
