.tab-pane#solutions.active
  .row-fluid
    .span8
      %h1.main_tagline#maximize
        E-Commerce Applicatoins
      .two_cols
        %p
          More and more people are shopping on the web. Between the year 2000 and today, the percentage of e-commerce sales as a percentage of total retail sales has grown from less than 1% to over 4%.
          To be part of this growing trend, you need the right team. Having the right team in place to maximize sales from your e-commerce application is crucial to making your web-based business thrive in this new economy.

        %p
          Use the right team to integrate with payment gateways, optimize your customers' e-commerce experience, capture payment, and run analytics on how to constantly improve your customers' e-commerce experience.
          Integrate with paypal, stripe, active merchant, and other gateways to ensure your users have a payment method of choice. Utilize SSL certificates to ensure your customers feel comfortable and secure inputting their credit card information.
    .span4.centered.padded
      = image_tag 'e-commerce.jpeg'
  %hr
  .row-fluid
    .span3.centered.padded
      = image_tag 'large_twitter.jpeg'
      %br
    .span9.well
      %br
      %h1.main_tagline#maximize
        SOCIAL MEDIA INTEGRATION
      .two_cols
        %p
          Social media integration can drive traffic to your website in a number of ways.
          You can use social media for single-sign-on user experiences, to promote your business, and to generate content for your website.
          Having worked with various social media API's including Facebook, Twitter, Instagram, Tumblr, and many others, I can help you utilize this effective media source to build your business.
        %p
          Find out who your users are and what they are saying about you via social media and utitlize the most effective techniques to keep them coming to your site.

  %hr
  .row-fluid
    .span6
      %h1.main_tagline#maximize
        MOBILE DEVELOPMENT
      %p
        Whether you want native app development or would like to make your website responsive to small devices, your users' ability to
        find out more about you while they are away from their desk is critical in today's landscape. I specialize in making websites responsive to mobile phones and building native apps for a variety of mobile platforms.
    .span6.centered.padded
      = image_tag 'mobile.jpg'
