.tab-pane#technologies
  %h4.main_tagline#budget
    Budget
  %p
    I'm often asked, "how much does a website cost?". This is a difficult question to answer for many reasons.
    Being mindful of your budget, you should ask yourself, "What am I seeking to get out of my site?".
    There are a number of considerations to make when asking yourself this question.

  %h4.main_tagline#track_record
    Track Record
  %p
    I'm often asked, "how much does a website cost?". This is a difficult question to answer for many reasons.
    Being mindful of your budget, you should ask yourself, "What am I seeking to get out of my site?"
  %h4.main_tagline#rapport
    Rapport
  %p
    I'm often asked, "how much does a website cost?". This is a difficult question to answer for many reasons.
    Being mindful of your budget, you should ask yourself, "What am I seeking to get out of my site?"
  %h4.main_tagline#technology_stack
    Technology Stack
  %p
    I'm often asked, "how much does a website cost?". This is a difficult question to answer for many reasons.
    Being mindful of your budget, you should ask yourself, "What am I seeking to get out of my site?"
