.three_cols {
  text-align: justify;
  -moz-column-count: 3;
  -moz-column-gap: 1.5em;
  -moz-column-rule: 1px solid #c4c8cc;
  -webkit-column-count: 3;
  -webkit-column-gap: 1.5em;
  -webkit-column-rule: 1px solid #c4c8cc;
}
.two_cols {
  text-align: justify;
  -moz-column-count: 2;
  -moz-column-gap: 1.5em;
  -moz-column-rule: none;
  -webkit-column-count: 2;
  -webkit-column-gap: 1.5em;
  -webkit-column-rule: none;
}
p {
  margin-bottom: 0 }
p{
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
  -o-column-break-inside:avoid;
  -ms-column-break-inside:avoid;
  column-break-inside:avoid;
  margin-top: 0
}

.main_tagline{
  text-shadow: 3px 3px 3px #BBB;
  text-transform:uppercase;
  text-align: justify; -ms-text-align-last: right;
}
.techstack img{
  height:50px;
  float:left;
  margin:10px;
}
